# Ignore environment
.env
venv/

# ignore build/compile artifacts
*.egg-info/
__pycache__/

# ignore data files
data/raw/*.tsv.gz
data/external/*.tsv
data/interim/*.tsv
data/processed/*.tsv

# ignore rendered plots
reports/figures/*.svg
